/* wrote the originl px amount zfter each rem or em unit, is that a good idea, is it easier for the reader? */

/* GLOBAL STYLES */
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.seed-color,
.selected-mode-list,
.get-color-scheme-btn {
    border: 0.5px black solid;
    cursor: pointer;
    max-height: 2.5rem /* 40px */
}

.seed-color:hover,
.selected-mode-list:hover,
.get-color-scheme-btn:hover {
    box-shadow: 1px 1px 5px #282828;
}

/* HEADER STYLES */
header,
.get-color-scheme-btn,
.selected-mode-list {
    padding: 0.625rem; /* 10px */
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.625rem; /* 10px */
}

.seed-color {
    width: 60px;
    height: 2.5rem /* 40px */
}

/* left the border-radius here and in the next one in px size since itrs so small, is that a good idea? */
.selected-mode-list {
    border-radius: 6px;
}

.get-color-scheme-btn {
    background: #fff;
    border-radius: 4px;
}

/* MAIN STYLES */
/* the container of divs */
.colors-container {
    display: flex;
    justify-content: center;
}
/* the actual color filled divs */
.color-container {
    border: none;
    width: 100%;
    /* find a better way to do this */
    align-items: stretch;
    height: calc(100vh - 4.375em); /* 70px */
    display: flex;
    justify-content: center;
    align-items: end;
}

/* the hex number at the bottom */
.hex-color-style {
    display: inline-block;
    background: white;
    width: 100%;
    padding: 1.25rem 0 0.625rem;
    margin-bottom: 0;
    text-align: center;
}